<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Activities</title>
<link href="css/Activities.css" rel="stylesheet">
</head>
<body>
<div id="background">
		<div id="Activities_A0_Text_1">
			<span>Activities</span>
		</div>
	</div>
	<div class="card">
  <div class="container">
    <h4><b>Math Homework</b></h4> 
    <p>START</p> 
  </div>
  <svg class="___3">
			<rect id="___3" rx="4" ry="4" x="0" y="0" width="335.4627685546875" height="92">
			</rect>
		</svg>
</div>
</body>
</html>
