<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Activities</title>
<link href="css/HomeActivities.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="background">
		<div class="title">
	<h3 style="font-weight: 500">Activities</h3>
</div>
	<div class="card">
    	<div class="container">
    		<h4 style="margin-top: 18px;font-weight: 400;">Math Homework</h4> 
    		<div class="start_container">
    		<p style="font-size: 15px;margin: 0;color:#9fa8da;letter-spacing: 0.1em">START</p>
    		</div> 
    		<div class="edit_container">
    		<i class="material-icons">more_vert</i>
    	</div>
  		</div>
		</div>

		<div class="fab" id="fabAdd"> <i class="material-icons">add</i>
		</div>

		<div class="navbar">
			<div class="settings_container">
  <i class="material-icons" style="color:white;opacity:0.5">settings</i>
</div>
<div class="activities_container">
  <i class="material-icons" style="color:white">event_note</i>
</div>
<div class="statistics_container">
  <i class="material-icons" style="color:white;opacity:0.5">insert_chart</i>
</div>
</div>
	</div>
	

</body>
</html>
