<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Start Work</title>
<link href="css/CompleteActivity.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/complete.js"></script>
</head>
<body bgcolor="#E5E5E5" style="margin: 0">

  <i class="material-icons" style="float: left;padding-left: 28px;cursor: pointer;color: #858585;display: inline-block;"><a href="activities" style="color: inherit; text-decoration: none"> arrow_back</i></a>

    <div class="title" style="z-index: -2">
  <h3 style="font-weight: 400; padding-right: 28px" id="header">Start Work</h3>
</div>

  <div id="text"></div>

<div class="timeelapsed">
  <p>Time Elapsed: 0 min</p>
</div>
<script type="text/javascript">
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

function begin() {
    var fiveMinutes = 60 * 25,
        display = document.querySelector('#time');
        document.getElementById('start').innerHTML = 'PAUSE';
    startTimer(fiveMinutes, display);
};
</script>
  
  <div class="card">
      <div class="container">
        <div style="text-align: center;padding-top: 13px"><span class="timer" id="time" style="font-size: 20px">25:00</span></div>
        <div style="text-align: center;">
        <p id="start" style="font-size: 14px;color: #FFF;letter-spacing:  1.3px" type="button" onclick="begin()">START WORK</p>
      </div>
      </div>
    </div>

    <div class="arrow">
      <img src="Arrow2.png"/>
    </div>


        <div class="button_finish">
    <button onclick="javascrtpt:window.location.href='activities'" class="pure-material-button-outlined">Finish</button>
</div>

    <div class="fab"><i class="material-icons" id="spa">spa</i>
    </div>

    <div class="fab-sha"></div>
    <div class="close"></div>


</body>
</html>