<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Activity Name</title>
<link href="css/CompleteActivity.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

        <div class="background">
            <i class="material-icons" style="float:left;margin-left: 28px;cursor: pointer;color: rgba(133,133,133,1);padding-top: 25px">arrow_back</i>
        <div class="title">
    <h3 style="font-weight: 400">Activity Name</h3>
</div>
<div class="timeelapsed">
    <p>Time Elapsed: 0 min</p>
</div>

    <div class="card">
        <div class="container">
            <p class="timer">25:00</p>
            <p class="start">START WORK</p>
        </div>
    </div>

    <div class="arrow">
        <img src="../public/images/Arrow2.png">
    </div>

    <div class="button_finish">
    <button class="pure-material-button-contained">Finish</button>
</div>

        <div class="fab" id="fabAExercise"> <i class="material-icons">spa</i>
        </div>
</div>
</body>
</html>