<!DOCTYPE html>
<html>
<h2>Belly Breathing</h2>
   <ul>
	<li>Sit or lay in a comforatble position</li>
	<li>Put one hand on your belly just below your ribs and the other hand on your chest</li>
	<li>Take a deep breath in through your nose, and let your belly push your hand out. Your chest shouldn't move</li> 
	<li>Breathe out through pursed lips as if you were whistling. Feel the hand on your belly go in, and use it to push all the air out</li>
	<li>Do this breathing 3 to 10 times. Take your time with each breath</li>
	<li> Take note of how you feel at the end of the exercise!</li>
 
</ul>

</html>