<!DOCTYPE html>
<html>


<link href= "css/ExerciseButton.css" rel = "stylesheet">

<button id="breathing">Breathing Exercises</button>
 <p>
  	<p style ="text-align: center;"><a href="../views/Descript.SquareB.html" >Square Technique</a></p>
  	
  	<p style ="text-align: center;"><a href="../views/Descript.FocusB.html">Focus Breathing</a></p>
 	
 	<p style ="text-align: center;"><a href="../views/Descript.BellyB.html">Belly Breathing</a></p>
  	
  	<p style ="text-align: center;"><a href="../views/Descript.EyeE.html">Eyesight Reset</a></p>

</p>

<button id="yoga">Stretching Exercises</button>

<p>
 	<p style ="text-align: center;"><a href="../views/Descript.BehindE.html">Behind-the-Back Shoulder/Arm stretch</a></p>
 	
 	<p style ="text-align: center;"><a href="../views/Descript.SimpE.html">Simple Hand Exercise</a></p>
 
	 <p style ="text-align: center;"><a href="../views/Descript.TposeE.html">T-pose Head Roll</a></p>

</p>







</html>
