<!DOCTYPE html>
<html>


<link href= "css/ExerciseButton.css" rel = "stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<i class="material-icons" style="float:left;margin-left: 28px;cursor: pointer;color: rgba(133,133,133,1);padding-top: 10px; text-align: center;"><a href="CompleteActivityB?n=Activity%20Name&workLength=25" style="text-decoration: none">arrow_back</i></a>

<button id="breathing">Breathing Exercises</button>
 <p>
  	<p style ="text-align: center;">Square Technique</p>
  	
  	<p style ="text-align: center;">Focus Breathing</p>
 	
 	<p style ="text-align: center;">Belly Breathing</p>
  	
  	<p style ="text-align: center;">Eyesight Reset</p>

</p>

<button id="yoga">Stretching Exercises</button>

<p>
 	<p style ="text-align: center;">Behind-the-Back Shoulder/Arm stretch</p>
 	
 	<p style ="text-align: center;">Simple Hand Exercise</p>
 
	 <p style ="text-align: center;">T-pose Head Roll</p>

</p>







</html>
