<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In</title>
<link href="css/LogIn.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
  {{> facebook}}
<script src="/js/facebook.js"></script>
<script src="/js/clearjson.js"></script>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135654484-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body bgcolor="#E5E5E5" style="margin: 0">
	<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=375478183233700&autoLogAppEvents=1"></script>

	<h3 style="font-weight: 500; font-family: Lato; margin-top: 0; position: absolute; top: 0; color:#767676; font-size: 25px; padding-top: 22px; text-align: center;width: 100%">focused.</h3>

      	<img src="images/undraw_studying_s3l7.svg" style="height: 200px;width: 200px;display: block;margin-bottom: 0px; margin-left: auto;margin-right: auto; margin-top: 42px">


  <div class="container" style="text-align: center;margin: auto;display: block">

  <form style="display: inline-block;">
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Username</label>
    </div>
      
    <div class="group">      
      <input type="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
      
      </p>
    </div>

</form>

  <div style="text-align: center;padding-top: 6px">
  	<button class="pure-material-button-contained" style="background-color:#bdbdbd;color:#757575;" onclick="inputClear()">Sign up</button>
  	&nbsp;
  <button id="login" class="pure-material-button-contained" onclick="inputClear()">Log in</button>

</div>
</div>
 <p style="text-align: center; font-family: Lato;color: #858585;font-size: 13px;font-weight: 600;padding-bottom: 6px">OR</p>
  <div style="display: block;margin: auto;text-align: center;">
      <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true" onlogin="checkLoginState();"></div>
  </div>



</div>

</div>

</body>
</html>
