<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Log In</title>
<link href="css/LogIn.css" rel="stylesheet">
</head>
<body>
<div class="container">
  
  <h2>Please create your user login</h2>
  
  <form>
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Username</label>
    </div>
      
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    
  </form>
  
  <a href="InputActivities">
  <button class="pure-material-button-contained">Log In</button>
  
</div>

</div>
</body>
</html>
