<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Activity</title>
<link href="css/Activities.css" rel="stylesheet">
</head>
<body>
<div id="Activities_A0">
	<div id="___1___1">
		<div id="Activities_A0_Text_1">
			<span>Activities</span>
		</div>
	</div>
	<svg class="___9">
		<rect id="___9" rx="0" ry="0" x="0" y="0" width="360" height="56">
		</rect>
	</svg>
	<div id="baseline_event_24px_A0_Group_16">
		<img src="images/baseline-event-24px.png"/>
	</div>
	<div id="baseline_settings_20px">
		<a href="Settings">
		<img src="images/baseline-settings-20px.png"/>
	</div>
	<div id="__402">
		<div id="__335">
			<svg class="teal_circle">
				<ellipse id="teal_circle" rx="28" ry="28" cx="28" cy="28">
				</ellipse>
			</svg>
		</div>
		<div id="baseline_add_24px">
			<a href="AddActivity">
			<img src="images/baseline-add-24px.png"/>
		</div>
	</div>
	<div id="Activities_A0_Text_2">
		<span>Activities</span>
	</div>
	<div id="baseline_insert_chart_outlined">
		<a href="Statistics">
		<img src="images/baseline-insert_chart_outlined-24px.png"/>
	</div>
	<div id="__413">
		<svg class="___3">
			<rect id="___3" rx="4" ry="4" x="0" y="0" width="335.4627685546875" height="92">
			</rect>
		</svg>
		<div id="START">
			<a href="Math_Homework"><span>START</span></a>
		</div>
		<div id="Math_Homework">
			<span>Math Homework</span>
		</div>
		<div id="baseline_more_vert_24px">
			<a href="EditActivity">
			<img src="images/baseline-more_vert-24px.png"/>
		</div>
		<div id="avg___48_min">
			<span>avg - 48 min</span>
		</div>
	</div>
	<div id="__416">
		<svg class="___3_A0_Rectangle_3">
			<rect id="___3_A0_Rectangle_3" rx="4" ry="4" x="0" y="0" width="335.4627685546875" height="92">
			</rect>
		</svg>
		<div id="START_A0_Text_6">
			<a href="StartReading"><span>START</span></a>
		</div>
		<div id="Reading">
			<span>Reading</span>
		</div>
		<div id="baseline_more_vert_24px_A0_Group_11">
			<a href="EditActivity">
			<img src="images/baseline-more_vert-24px.png"/>
		</div>
		<div id="avg___1_hour">
			<span>avg - 1 hour</span>
		</div>
	</div>
	<div id="__414">
		<svg class="___3_A0_Rectangle_4">
			<rect id="___3_A0_Rectangle_4" rx="4" ry="4" x="0" y="0" width="335.4627685546875" height="92">
			</rect>
		</svg>
		<div id="START_A0_Text_9">
			<a href="StartScience"><span>START</span></a>
		</div>
		<div id="Science_Project">
			<span>Science Project</span>
		</div>
		<div id="baseline_more_vert_24px_A0_Group_13">
			<a href="EditActivity">
			<img src="images/baseline-more_vert-24px.png"/>
		</div>
		<div id="avg___37_min">
			<span>avg - 37 min</span>
		</div>
	</div>
	<div id="__415">
		<svg class="___3_A0_Rectangle_5">
			<rect id="___3_A0_Rectangle_5" rx="4" ry="4" x="0" y="0" width="335.4627685546875" height="92">
			</rect>
		</svg>
		<div id="START_A0_Text_12">
			<a href="StartCoding"><span>START</span></a>
		</div>
		<div id="Coding_Practice">
			<span>Coding Practice</span>
		</div>
		<div id="baseline_more_vert_24px_A0_Group_15">
			<a href="EditActivity">
			<img src="images/baseline-more_vert-24px.png"/>
		</div>
		<div id="avg___2_hours_">
			<span>avg - 2 hours </span>
		</div>
	</div>
</div>
</body>
</html>