<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In</title>
<link href="css/LogIn.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/introHCI.js"></script>
  {{> facebook}}
<script src="/js/facebook.js"></script>
</head>

<body bgcolor="#E5E5E5">
    <div class="title">
  <h3 style="font-weight: 500; padding-top: 10px; padding-bottom: 10px; padding-left: 28px;font-size: 20px;">Please create your login</h3>
</div>


  <div class="container">

  <form>
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Username</label>
    </div>
      
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
      
      </p>
    </div>

</form>
    <a href="InputActivities">
  <div style="text-align: center;padding-top: 8px">
  <button id="login" class="pure-material-button-contained">Log in</button>

</a>
<p class="facebookLogin" style="font-size: 18px;font-weight: 500;color: #858585;font font-family: Roboto; padding-top: 25px;padding-bottom: 10px"> Or login through Facebook</p>
      
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>

</div>


</div>

</div>

</body>
</html>
