<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Input Activities</title>
<link href="css/LogIn.css" rel="stylesheet">
</head>
<body>
<div class="container">
  
  <h2>Tell us the types of activities you'd like to keep track of:</h2>
  
  <form id="InputActivityForm" role="form" method="get" action="/input">
    
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName1" name="ActivityName1" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #1</label>
    </div>
      
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName2" name="ActivityName2" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #2</label>
    </div>

    <div class="group">      
      <input type="text" class="form-control" id="ActivityName3" name="ActivityName3" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #3</label>
    </div>

    <div class="group">      
      <input type="text" class="form-control" id="ActivityName4" name="ActivityName4" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #4</label>
    </div>
    

  <button type="input" class="pure-material-button-contained">Continue</button>
  </form>
</div>

</div>
</body>
</html>
