<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Input Activities</title>
<link href="css/LogIn.css" rel="stylesheet">
</head>
<body>
<div class="container">
  
  <h2>Tell us the types of activities you'd like to keep track of:</h2>
  
  <form>
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #1</label>
    </div>
      
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #2</label>
    </div>

        <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #3</label>
    </div>

            <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #4</label>
    </div>
    
  </form>

  <button class="pure-material-button-contained">Continue</button>
  
</div>

</div>
</body>
</html>
