<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Input Activities</title>
<link href="css/LogIn.css" rel="stylesheet">
</head>
<body bgcolor="#E5E5E5">
  <div class="container">
  
  <h3 style="font-weight: 500;color: #858585; font-size: 19px; text-align: center; padding-bottom: 15px">Tell us the types of activities you'd like to keep track of:</h2>
  
  <form id="InputActivityForm" role="form" method="get" action="/input">
    
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName1" name="ActivityName1" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #1</label>
    </div>
      
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName2" name="ActivityName2" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #2</label>
    </div>

    <div class="group">      
      <input type="text" class="form-control" id="ActivityName3" name="ActivityName3" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #3</label>
    </div>

    <div class="group">      
      <input type="text" class="form-control" id="ActivityName4" name="ActivityName4" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #4</label>
    </div>
    
  <div style="text-align: center;padding-top: 8px">
  <button type="input" class="pure-material-button-contained">Continue</button>
  </form>
</div>
</div>

</div>
</body>
</html>
