<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Input Activities</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
<link href="css/LogIn.css" rel="stylesheet">
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135654484-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body bgcolor="#E5E5E5" style="margin: 0;">

    <i class="material-icons" style="float: left;padding-left: 28px;cursor: pointer;color: #858585;display: inline-block; padding-top: 10px; padding-right: 10px"><a href = "index" style="color: inherit; text-decoration: none"> arrow_back</i></a>
    <div class="title">
  <h3 style="font-weight: 500;font-size: 19px; padding-bottom: 15px; padding-top: 8px;font-family: Lato">Tell us a few activities you'd like to keep track of:</h2>
    </div>
  
<div style="padding-right: 30px; font-family: Lato; margin: auto; display: block;width:300px; ">
  <form id="InputActivityForm" role="form" method="get" action="/input">
    
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName1" name="ActivityName1" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #1</label>
    </div>
      
    <div class="group">      
      <input type="text" class="form-control" id="ActivityName2" name="ActivityName2" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #2</label>
    </div>

    <div class="group">      
      <input type="text" class="form-control" id="ActivityName3" name="ActivityName3" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Activity #3</label>
    </div>

  <div style="text-align: center;padding-top: 8px">
  <button type="input" class="pure-material-button-contained">Continue</button>
  </form>
</div>
</div>

</div>
</body>
</html>
