<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Math Homework – 4</title>
<link href="css/Math2.css" rel="stylesheet">
</head>
<body>
<div id="Math_Homework___4_A1">
	<div id="___1___2">
		<div id="Math_Homework_A1_Text_15">
			<span>Math Homework</span>
		</div>
	</div>
	<svg class="___9_A1_Rectangle_6">
		<rect id="___9_A1_Rectangle_6" rx="0" ry="0" x="0" y="0" width="360" height="56">
		</rect>
	</svg>
	<div id="baseline_event_24px_A1_Group_18">
		<img src="images/baseline-event-24px.png"/>
	</div>
	<div id="baseline_settings_20px_A1_Group_19">
		<a href="SettingsMath">
		<img src="images/baseline-settings-20px.png"/>
	</div>
	<div id="__335_A1_Group_20">
		<svg class="teal_circle_A1_Ellipse_2">
			<ellipse id="teal_circle_A1_Ellipse_2" rx="28" ry="28" cx="28" cy="28">
			</ellipse>
		</svg>
	</div>
	<div id="Activities_A1_Text_16">
		<span>Activities</span>
	</div>
	<div id="baseline_insert_chart_outlined_A1_Group_21">
		<a href="StatisticsMath">
		<img src="images/baseline-insert_chart_outlined-24px.png"/>
	</div>
	<div id="baseline_spa_24px">
		<a href="StartExercises">
		<img src="images/symbol.png"/>
	</div>
	<div id="baseline_arrow_back_24px">
		<a href="index"><img src="images/Arrow.png"/></a>
	</div>
	<div id="__412">
		<img src="images/Arrow2.png"/>
	</div>
	<div id="Time_elapsed__0_min">
		<span>Time elapsed: 0 min</span>
	</div>
	<svg class="___10">
		<rect id="___10" rx="0" ry="0" x="0" y="0" width="227" height="96">
		</rect>
	</svg>
	<div id="START_WORK">
		<a href="BeginTimer">
		<span>START WORK</span>
	</div>
	<div id="ID25_00">
		<span>25:00</span>
	</div>
	<svg class="___11">
		<rect id="___11" rx="17.5" ry="17.5" x="0" y="0" width="80" height="35">
		</rect>
	</svg>
</div>
</body>
</html>