<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Settings</title>
<link href="css/homeactivities.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body bgcolor="#E5E5E5" style="margin: 0">
		<div class="title">
	<h3 style="font-weight: 500">Settings</h3>
</div>

  <div class="setting" style="padding-top: 2px">
    <h4 style="font-weight: 500">FAQ</h4>
    <p>What is the purpose of this app?</p>
    <p style="font-size: 16px; padding-right: 25px">This app allows to organize and work on your different responsibilities. It helps you become more mindful of your responsibilities.</p>
    <p>What is the pomodoro technique?</p>
    <p style="font-size: 16px; padding-right: 25px">The pomodoro technique is a time management method that helps you work more efficiently. Managing your time into work and breaks, the technique is proven to help reduce inattention and increase focus.</p>
  </div>


		<div class="navbar">
			<div class="settings_container">
  <i class="material-icons" style="color:white">settings</i>
</div>
<div class="activities_container">
  <i class="material-icons" style="color:white;opacity:0.5"><a href="Activities" style="color: inherit; text-decoration: none">event_note</i></a>
</div>
<div class="statistics_container">
  <i class="material-icons" style="color:white;opacity:0.5"><a href="Statistics" style="color: inherit; text-decoration: none">insert_chart</i></a>
</div>
</div>	

</body>
</html>
