<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Statistics</title>
<link href="css/Statistics.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body bgcolor="#E5E5E5" style="margin: 0">

		<div class="title">
	<h3 style="font-weight: 500">Statistics</h3>
</div>

<div class="description">
    <h4 style="font-weight: 500; text-align: center; font-size: 18px; padding-right: 250px">Hours worked:</h4>
</div>

<div class="graph__wrapper" style="text-align: center;">
  <div class="coordinates">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span> 
  </div>
    <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1">
      <defs>
          <linearGradient x1="0%" y1="100%" x2="100%" y2="100%" id="linearGradient-1">
              <stop stop-color="#2090F8" offset="0%"></stop>
              <stop stop-color="#01FCE4" offset="41.7610013%"></stop>
              <stop stop-color="#0BFF8C" offset="78.6870217%"></stop>
              <stop stop-color="#51FF00" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M2.10546875,95.75 L40.5546875,68.3476562 L55.2109375,81.1796875 L65.2148437,76.3945312 L96.1835937,86.8320312 L131.023438,19.9414062 L142.15625,23.7226562 L183.605469,2.1953125 L211.007812,22.3320312 L234.320312,71.5664062 L234.667969,83.0039062 L244.019531,83.0039062 L247.105469,88.8320312 L312.695312,104.839844" id="Path-1" stroke="url(#linearGradient-1)" stroke-width="4" sketch:type="MSShapeGroup" class="path"></path>
      </g>
  </svg>
</div>  
    <div class="description">
    <h4 style="font-weight: 500; text-align: center; font-size: 18px; padding-right: 312px; padding-top: 210px">Facts:</h4>
</div>
    <div class="facts">
        <p style="font-size: 16px; padding-right: 91px">You worked 36 hours total this month.</p>
        <p style="font-size: 16px; padding-right: 73px">You spent 3 hours completing exercises.</p>
        <p style="font-size: 16px;padding-right: 17px">Your most productive month was January, 2018.</p>
    </div>

        <div class="navbar">
            <div class="settings_container">
  <i class="material-icons" style="color:white;opacity:0.5"><a href="Settings" style="color: inherit; text-decoration: none">settings</i></a>
</div>
<div class="activities_container">
  <i class="material-icons" style="color:white;opacity: 0.5"><a href="Activities" style="color: inherit; text-decoration: none">event_note</i></a>
</div>
<div class="statistics_container">
  <i class="material-icons" style="color:white">insert_chart</i>
</div>
</div>



</div>
</body>
</html>