* {
          margin: 0;
          padding: 0;
     }
     #Activities_A0 {
          position: absolute;
          box-sizing: border-box;
          border: 1px solid #A1A1A1;
          background: #E5E5E5;
          width: 360px;
          height: 640px;
          background-color: rgba(233,233,233,1);
          overflow: hidden;
          opacity: 1;
          --web-artboard-name: "Activities";
     }
     #___1___1 {
          opacity: 1;
          position: absolute;
          width: 79px;
          height: 20px;
          left: 138.5px;
          top: 28px;
          overflow: visible;
     }
     #Activities_A0_Text_1 {
          opacity: 1;
          position: absolute;
          left: 0px;
          top: 0px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 80px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(133,133,133,1);
     }
     #___9 {
          opacity: 1;
          filter: drop-shadow(0px -1px 2px rgba(0, 0, 0, 0.161));
          fill: rgba(152,152,152,1);
     }
     .___9 {
          position: absolute;
          overflow: visible;
          width: 366px;
          height: 62px;
          left: 0px;
          top: 584px;
     }
     #__334 {
          opacity: 0.11999999731779099;
          position: absolute;
          width: 56px;
          height: 56px;
          left: 290px;
          top: 512px;
          overflow: visible;
     }
     #gradient_border_2 {
          opacity: 1;
          fill: url(#LinearGradientFill1);
     }
     .gradient_border_2 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 56px;
          height: 56px;
     }
     #gradient_border_1 {
          opacity: 1;
          fill: url(#LinearGradientFill2);
     }
     .gradient_border_1 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 56px;
          height: 56px;
     }
     #baseline_event_24px_A0_Group_16 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 168px;
          top: 591px;
          overflow: visible;
     }
     #___43_A0_Path_19 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___43_A0_Path_19 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 1px;
          left: 3px;
          width: 18px;
          height: 20px;
     }
     #___44_A0_Path_20 {
          opacity: 1;
          fill: transparent;
     }
     .___44_A0_Path_20 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #baseline_settings_20px {
          opacity: 0.5;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 48px;
          top: 600px;
          overflow: visible;
     }
     #___20 {
          opacity: 1;
          fill: transparent;
     }
     .___20 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___21 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___21 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 2px;
          left: 2.222412109375px;
          width: 19.55517578125px;
          height: 20px;
     }
     #__402 {
          opacity: 1;
          position: absolute;
          width: 56px;
          height: 56px;
          left: 288px;
          top: 512px;
          overflow: visible;
     }
     #__335 {
          opacity: 1;
          position: absolute;
          width: 56px;
          height: 56px;
          left: 0px;
          top: 0px;
          overflow: visible;
     }
     #teal_circle {
          opacity: 1;
          filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.239));
          fill: rgba(152,152,152,1);
     }
     .teal_circle {
          position: absolute;
          overflow: visible;
          width: 74px;
          height: 74px;
          left: 0px;
          top: 0px;
     }
     #baseline_add_24px {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 16px;
          top: 16px;
          overflow: visible;
     }
     #___123 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___123 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 5px;
          left: 5px;
          width: 14px;
          height: 14px;
     }
     #___124 {
          opacity: 1;
          fill: transparent;
     }
     .___124 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #Activities_A0_Text_2 {
          opacity: 1;
          position: absolute;
          left: 155.5px;
          top: 620px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: rgba(255,255,255,1);
     }
     #baseline_insert_chart_outlined {
          opacity: 0.5;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 288px;
          top: 600px;
          overflow: visible;
     }
     #___127 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___127 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 3px;
          left: 2.5px;
          width: 19px;
          height: 18px;
     }
     #___128 {
          opacity: 1;
          fill: transparent;
     }
     .___128 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #__413 {
          opacity: 1;
          position: absolute;
          width: 335.463px;
          height: 92px;
          left: 12.269px;
          top: 70px;
          overflow: visible;
     }
     #___3 {
          opacity: 1;
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
          fill: rgba(255,255,255,1);
     }
     .___3 {
          position: absolute;
          overflow: visible;
          width: 344.4627380371094px;
          height: 101px;
          left: 0px;
          top: 0px;
     }
     #START {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 65px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #Math_Homework {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 19px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 127px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #baseline_more_vert_24px {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 305.731px;
          top: 56px;
          overflow: visible;
     }
     #___131 {
          opacity: 1;
          fill: transparent;
     }
     .___131 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___132 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___132 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4px;
          left: 10px;
          width: 4px;
          height: 16px;
     }
     #avg___48_min {
          opacity: 1;
          position: absolute;
          left: 236.731px;
          top: 20px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 86px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #__416 {
          opacity: 1;
          position: absolute;
          width: 335.463px;
          height: 92px;
          left: 12.269px;
          top: 174px;
          overflow: visible;
     }
     #___3_A0_Rectangle_3 {
          opacity: 1;
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
          fill: rgba(255,255,255,1);
     }
     .___3_A0_Rectangle_3 {
          position: absolute;
          overflow: visible;
          width: 344.4627685546875px;
          height: 101px;
          left: 0px;
          top: 0px;
     }
     #START_A0_Text_6 {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 65px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #Reading {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 19px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 65px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #baseline_more_vert_24px_A0_Group_11 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 305.731px;
          top: 56px;
          overflow: visible;
     }
     #___131_A0_Path_13 {
          opacity: 1;
          fill: transparent;
     }
     .___131_A0_Path_13 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___132_A0_Path_14 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___132_A0_Path_14 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4px;
          left: 10px;
          width: 4px;
          height: 16px;
     }
     #avg___1_hour {
          opacity: 1;
          position: absolute;
          left: 236.731px;
          top: 20px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 83px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #__414 {
          opacity: 1;
          position: absolute;
          width: 335.463px;
          height: 92px;
          left: 12.269px;
          top: 278px;
          overflow: visible;
     }
     #___3_A0_Rectangle_4 {
          opacity: 1;
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
          fill: rgba(255,255,255,1);
     }
     .___3_A0_Rectangle_4 {
          position: absolute;
          overflow: visible;
          width: 344.4627990722656px;
          height: 101px;
          left: 0px;
          top: 0px;
     }
     #START_A0_Text_9 {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 65px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #Science_Project {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 19px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 123px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #baseline_more_vert_24px_A0_Group_13 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 305.731px;
          top: 56px;
          overflow: visible;
     }
     #___131_A0_Path_15 {
          opacity: 1;
          fill: transparent;
     }
     .___131_A0_Path_15 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___132_A0_Path_16 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___132_A0_Path_16 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4px;
          left: 10px;
          width: 4px;
          height: 16px;
     }
     #avg___37_min {
          opacity: 1;
          position: absolute;
          left: 236.731px;
          top: 20px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 86px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #__415 {
          opacity: 1;
          position: absolute;
          width: 335.463px;
          height: 92px;
          left: 12.269px;
          top: 382px;
          overflow: visible;
     }
     #___3_A0_Rectangle_5 {
          opacity: 1;
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4));
          fill: rgba(255,255,255,1);
     }
     .___3_A0_Rectangle_5 {
          position: absolute;
          overflow: visible;
          width: 344.4627685546875px;
          height: 101px;
          left: 0px;
          top: 0px;
     }
     #START_A0_Text_12 {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 65px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #Coding_Practice {
          opacity: 1;
          position: absolute;
          left: 19.731px;
          top: 19px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 125px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #baseline_more_vert_24px_A0_Group_15 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 305.731px;
          top: 56px;
          overflow: visible;
     }
     #___131_A0_Path_17 {
          opacity: 1;
          fill: transparent;
     }
     .___131_A0_Path_17 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___132_A0_Path_18 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___132_A0_Path_18 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4px;
          left: 10px;
          width: 4px;
          height: 16px;
     }
     #avg___2_hours_ {
          opacity: 1;
          position: absolute;
          left: 232.731px;
          top: 22px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 96px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          color: rgba(152,152,152,1);
          letter-spacing: 0.5px;
     }
     #baseline_event_24px_A0_Group_16 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 168px;
          top: 591px;
          overflow: visible;
     }
     #___43_A0_Path_19 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___43_A0_Path_19 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 1px;
          left: 3px;
          width: 18px;
          height: 20px;
     }
     #___44_A0_Path_20 {
          opacity: 1;
          fill: transparent;
     }
     .___44_A0_Path_20 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }