/* Breathing Exercises button ---------------------*/
#breathing{
  color: white;
  height: 4em;
  width: 50%;
  width: 360px;
  padding: 1em auto;
  display: block;
  margin: auto;
  background-color: #555555;
 
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;  
}

#yoga {
  color: white;
  height: 4em;
  width: 50%;
  width: 360px;
  display: block;

  padding: 1em auto;
  margin: auto;
  background-color: #87CEFA;
 
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;  
}

