     .background {
          position: relative;
          padding-top: 10px;
          margin: auto;
          background: #E5E5E5;
          width: 360px;
          height: 640px;
          text-align: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          background-color: rgba(233,233,233,1);
     }
     .title {
          text-align: center;
          font-family: Roboto;
          position: relative;
          font-style: normal;
          font-weight: normal;
          color: rgba(133,133,133,1);
          font-size: 20px;
          padding-right: 28px; 

     }
     .timeelapsed {
          text-align: center;
          font-family: Roboto;
          font-style: italic;
          position: relative;
          clear: both;
          font-size: 15px;
          font-weight: 400;
          color: rgba(133,133,133,1);
          padding-bottom: 30px;
     }
     .card {
     margin: auto;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: 0.3s;
     border-radius: 6px;
     height: 90px;
     width: 240px;
     text-align: left;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     color: rgba(133,133,133,1);
     background-color: rgba(133,133,133,1);
     position: relative;
     }
     .container {
     padding: 2px 16px;
     }