     .card {
     margin: auto;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     border-radius: 5px;
     width: 335px;
     text-align: left;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     color: rgba(133,133,133,1);
     background-color: #FFF;
     position: relative;
     }
     .container {
     padding: 2px 16px;
     }
     .background {
          position: relative;
          padding-top: 10px;
          margin: auto;
          background: #E5E5E5;
          width: 360px;
          height: 640px;
          text-align: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          background-color: rgba(233,233,233,1);
     }
     .title {
          text-align: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          color: rgba(133,133,133,1);
          font-size: 20px; 

     }
     .navbar {
          position: absolute;
          background-color: #9575cd;
          height: 56px;
          width: 360px;
          bottom: 0;
     }
     .settings_container {
          width: 120px;
          display: inline-block;
     }
     .activities_container {
          width: 120px;
          display: inline-block;
     }
     .statistics_container {
          width: 120px;
          display: inline-block;
     }