     * {
          margin: 0;
          padding: 0;
     }
     #Math_Homework___4_A1 {
          position: absolute;
          box-sizing: border-box;
          border: 1px solid #A1A1A1;
          background: #E5E5E5;
          width: 360px;
          height: 640px;
          background-color: rgba(233,233,233,1);
          overflow: hidden;
          opacity: 1;
          --web-artboard-name: "Math Homework – 4";
     }
     #___1___2 {
          opacity: 1;
          position: absolute;
          width: 146px;
          height: 20px;
          left: 105.5px;
          top: 28px;
          overflow: visible;
     }
     #Math_Homework_A1_Text_15 {
          opacity: 1;
          position: absolute;
          left: 0px;
          top: 0px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 147px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(133,133,133,1);
     }
     #___9_A1_Rectangle_6 {
          opacity: 1;
          filter: drop-shadow(0px -1px 2px rgba(0, 0, 0, 0.161));
          fill: rgba(152,152,152,1);
     }
     .___9_A1_Rectangle_6 {
          position: absolute;
          overflow: visible;
          width: 366px;
          height: 62px;
          left: 0px;
          top: 584px;
     }
     #__334_A1_Group_17 {
          opacity: 0.11999999731779099;
          position: absolute;
          width: 56px;
          height: 56px;
          left: 290px;
          top: 512px;
          overflow: visible;
     }
     #gradient_border_2_A1_Path_21 {
          opacity: 1;
          fill: url(#LinearGradientFill1);
     }
     .gradient_border_2_A1_Path_21 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 56px;
          height: 56px;
     }
     #gradient_border_1_A1_Path_22 {
          opacity: 1;
          fill: url(#LinearGradientFill2);
     }
     .gradient_border_1_A1_Path_22 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 56px;
          height: 56px;
     }
     #baseline_event_24px_A1_Group_18 {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 168px;
          top: 591px;
          overflow: visible;
     }
     #___43_A1_Path_23 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___43_A1_Path_23 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 1px;
          left: 3px;
          width: 18px;
          height: 20px;
     }
     #___44_A1_Path_24 {
          opacity: 1;
          fill: transparent;
     }
     .___44_A1_Path_24 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #baseline_settings_20px_A1_Group_19 {
          opacity: 0.5;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 48px;
          top: 600px;
          overflow: visible;
     }
     #___20_A1_Path_25 {
          opacity: 1;
          fill: transparent;
     }
     .___20_A1_Path_25 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___21_A1_Path_26 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___21_A1_Path_26 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 2px;
          left: 2.222412109375px;
          width: 19.55517578125px;
          height: 20px;
     }
     #__335_A1_Group_20 {
          opacity: 1;
          position: absolute;
          width: 56px;
          height: 56px;
          left: 288px;
          top: 512px;
          overflow: visible;
     }
     #teal_circle_A1_Ellipse_2 {
          opacity: 1;
          filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.239));
          fill: rgba(152,152,152,1);
     }
     .teal_circle_A1_Ellipse_2 {
          position: absolute;
          overflow: visible;
          width: 74px;
          height: 74px;
          left: 0px;
          top: 0px;
     }
     #Activities_A1_Text_16 {
          opacity: 1;
          position: absolute;
          left: 155.5px;
          top: 620px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 48px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: rgba(255,255,255,1);
     }
     #baseline_insert_chart_outlined_A1_Group_21 {
          opacity: 0.5;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 288px;
          top: 600px;
          overflow: visible;
     }
     #___127_A1_Path_27 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___127_A1_Path_27 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 3px;
          left: 2.5px;
          width: 19px;
          height: 18px;
     }
     #___128_A1_Path_28 {
          opacity: 1;
          fill: transparent;
     }
     .___128_A1_Path_28 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #baseline_spa_24px {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 304px;
          top: 528px;
          overflow: visible;
     }
     #___135 {
          opacity: 1;
          fill: transparent;
     }
     .___135 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___136 {
          opacity: 1;
          fill: rgba(96,125,139,1);
     }
     .___136 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 10.3900146484375px;
          left: 5.02001953125px;
          width: 13.9599609375px;
          height: 1.6400146484375px;
     }
     #___137 {
          opacity: 1;
          fill: rgba(255,255,255,1);
     }
     .___137 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
     }
     #baseline_arrow_back_24px {
          opacity: 1;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 25px;
          top: 24px;
          overflow: visible;
     }
     #___133 {
          opacity: 1;
          fill: transparent;
     }
     .___133 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24px;
          height: 24px;
     }
     #___134 {
          opacity: 1;
          fill: rgba(133,133,133,1);
     }
     .___134 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4px;
          left: 4px;
          width: 16px;
          height: 16px;
     }
     #__412 {
          opacity: 1;
          position: absolute;
          width: 24.823px;
          height: 364px;
          left: 57px;
          top: 133px;
          overflow: visible;
     }
     #___1 {
          opacity: 1;
          fill: transparent;
          stroke: rgb(152, 152, 152);
          stroke-width: 3px;
          stroke-linejoin: miter;
          stroke-linecap: round;
          stroke-miterlimit: 4;
          shape-rendering: auto;
     }
     .___1 {
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 12.822998046875px;
          width: 3px;
          height: 358px;
     }
     #baseline_arrow_back_24px_A1_Group_25 {
          opacity: 1;
          transform: rotate(-88deg);
          transform-origin: left;
          position: absolute;
          width: 24px;
          height: 24px;
          left: 0px;
          top: 339.177px;
          overflow: visible;
     }
     #___133_A1_Path_34 {
          opacity: 1;
          fill: transparent;
     }
     .___133_A1_Path_34 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 24.822998046875px;
          height: 24.822967529296875px;
     }
     #___134_A1_Path_35 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___134_A1_Path_35 {
          transform: matrix(1,0,0,1,0,0);
          overflow: visible;
          position: absolute;
          top: 4.13714599609375px;
          left: 4.13714599609375px;
          width: 16.54864501953125px;
          height: 16.54864501953125px;
     }
     #Time_elapsed__0_min {
          opacity: 1;
          position: absolute;
          left: 114px;
          top: 66px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 136px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 15px;
          color: rgba(133,133,133,1);
     }
     #___10 {
          opacity: 1;
          fill: rgba(152,152,152,1);
     }
     .___10 {
          position: absolute;
          overflow: visible;
          width: 227px;
          height: 96px;
          left: 68px;
          top: 131px;
     }
     #START_WORK {
          opacity: 1;
          position: absolute;
          left: 135px;
          top: 197px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 99px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: rgba(248,248,248,1);
          letter-spacing: 0.5px;
     }
     #ID25_00 {
          opacity: 1;
          position: absolute;
          left: 152px;
          top: 154px;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          overflow: visible;
          width: 56px;
          white-space: nowrap;
          text-align: left;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          color: rgba(239,239,239,1);
          letter-spacing: 0.3px;
     }
     #___11 {
          opacity: 1;
          fill: transparent;
          stroke: rgb(239, 239, 239);
          stroke-width: 2px;
          stroke-linejoin: round;
          stroke-linecap: butt;
          stroke-miterlimit: 4;
          shape-rendering: auto;
     }
     .___11 {
          position: absolute;
          overflow: visible;
          width: 80px;
          height: 35px;
          left: 140px;
          top: 145px;
     }